.epi-table-container {
  margin: 0 auto; /* Centre le tableau horizontalement en lui donnant une marge automatique sur les côtés */
  max-width: 800px; /* Optionnel : définit une largeur maximale pour le tableau */
}

.epi-table {
  width: 100%; /* Utilise 100% de la largeur disponible */
  border-collapse: collapse; /* Fusionne les bordures des cellules */
}

.epi-table th, .epi-table td {
  border: 1px solid #dddddd; /* Ajoute une bordure à toutes les cellules */
  text-align: left; /* Aligne le texte à gauche dans les cellules */
  padding: 8px; /* Ajoute de l'espace à l'intérieur des cellules */
}

.epi-table th {
  background-color: #f2f2f2; /* Ajoute une couleur de fond pour les cellules d'en-tête */
}

.title {
  font-size: 24px; /* Définit la taille de police du titre */
  margin-bottom: 10px; /* Ajoute une marge en bas du titre */
}
