# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/GestEPI_FRONT/.angular/
/GestEPI_FRONT/node_modules/
